@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:#ffffff;
  color:#111827;
  font-family:Arial, Helvetica, sans-serif;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}

section{
  overflow:hidden;
  position:relative;
}

/* SMOOTH TRANSITIONS */
a,
button{
  transition:all 0.3s ease;
}

/* BETTER IMAGE RENDERING */
img{
  max-width:100%;
  height:auto;
  display:block;
}

/* CLEAN SCROLLBAR */
::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#f1f5f9;
}

::-webkit-scrollbar-thumb{
  background:#1e3a8a;
  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
  background:#1d4ed8;
}

/* CLEAN TEXT SELECTION */
::selection{
  background:#1d4ed8;
  color:white;
}

/* PREMIUM SECTION SPACING */
.section-spacing{
  padding-top:120px;
  padding-bottom:120px;
}

/* PREMIUM SHADOW */
.premium-shadow{
  box-shadow:
    0 10px 40px rgba(0,0,0,0.08);
}

/* HERO OVERLAY */
.hero-overlay{
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.6)
    );
}